.wrapper {
  max-width: 1200px;
  margin: auto;
  display: flex;
  align-items: center;
 height: 100vh;
  padding-bottom: 55px;

}


@media (max-width: 1024px) {
  .wrapper {
   height: 80vh;
  }
}


@media (max-width: 600px) {
  .wrapper {
   height: 90vh;
   flex-direction: column;
  }
}
