.App {
  height: 100vh;
  margin: auto;

  & .outlet {
  // padding: 80px 30px 100px 30px;
    max-width: 1200px;
    margin: auto;
  height: 100vh;

  }
}
@media (max-width: 600px) {
  .App {
  
    & .outlet {
      padding: 60px 20px 100px;
    
    }
  }
}