.wrapper {
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(5px);
  color: rgb(58, 58, 58);
  margin-top: 30px;
  box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.2);
  font-size: 20px;
  & .text {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 80%;

    & .hello {
      width: 100%;
    }
    & .name {
      width: 100%;
      font-size: 40px;
      color: #06070c;
    }
    & .smileText {
      width: 70%;
      font-family: "Edu SA Beginner", cursive;
      color: #194560;
      padding: 15px;
      display: grid;
      grid-template-columns: 3fr 1fr;
      align-items: center;
      gap: 20px;
      & .smile {
        & img {
          width: 50px;
        }
      }
    }
  }
}
@media (max-width: 600px) {
  .wrapper {
    padding: 15px 10px 30px;
    margin-top: 10px;

    & .text {
      & .hello {
        width: 100%;
      }
      & .name {
      }
      & .smileText {
        width: 100%;
        grid-template-columns: 5fr 1fr;
        gap: 10px;
      }
    }
  }
}
