.menuContainer {
  box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.2);
  position: fixed;
  right: 0;
  top: 15px;
  height: 30px;
  width:auto;
  z-index: 111;
  background-color: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(5px);

  & .wrapper {
    max-width: 1600px;
    height: 100%;
    margin: auto;
    display: flex;
    justify-content: flex-end;
    & ul {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      padding: 0 50px;
      gap: 30px;
      & .li {
        font-size: 15px;
        font-weight: 700;
        cursor: pointer;

        &:hover {
          color: rgb(152, 134, 132);
        }
      }
      & .mobileLi {
        color: rgb(72, 14, 71);
        display: none;
      }
    }
  }
}

@media (max-width: 600px) {
  .menuContainer {
    bottom: 20px;
    width: 70%;
    & .wrapper {
      & ul {
        display: flex;
        width: 100%;
        justify-content: center;

        padding: 0;
        & .li {
          display: none;

          &:hover {
          }
        }
        & .mobileLi {
          display: block;
        }
      }
    }
  }
}
