.menuContainer {
  box-shadow: 0 5px 15px 0 rgba(0,0,0,0.2); 
  position:fixed; 
  height: 50px;
  width: 100%;
  z-index: 111;
  background-color: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(5px);
  & .wrapper {
    max-width: 1600px;
    height: 100%;
    margin: auto;
    display: flex;
    justify-content: flex-end;
    & ul {

      display: flex;
      justify-content: flex-end;
      align-items: center;
      padding-right: 50px;
      gap: 30px;
      & li {
        font-size: 15px;
        cursor: pointer;
        &:hover {
          color: rgb(162, 70, 228);
        }
      }
    }
  }
}
