.wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 50px;
  & section {
    box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.2);
    padding: 35px;
    backdrop-filter: blur(5px);
    width: 100%;
  }
}
