.aboutLifewrapper{
  /*margin-bottom: 50px;*/
}
.aboutLifewrapper .section{
  /*border: 2px solid rgba(251, 251, 251);*/
  height: 350px;
  background-color: rgba(236, 235, 240, 0.8);
  border: 2px solid white;
  backdrop-filter: blur(5px);
  display: grid !important;
  grid-template-columns: 1fr;
 grid-template-rows: 10% 70% 20%;
 justify-items: end;
 gap: 20px;
  padding: 35px;
}
.aboutLifewrapper .section h3{
  align-self: end;
}
.aboutLifewrapper .section p{
  display: flex;
 align-items: center;

}

.aboutLifewrapper .section-a-look-outside-of-work{
 
}
.aboutLifewrapper .section-travelings{

}
.aboutLifewrapper .section-photo{}
.aboutLifewrapper .section-music{}
.aboutLifewrapper .section-cooking{}

@media (max-width: 900px) {
  .aboutLifewrapper h2 {
    margin: 0;
  }
}

@media (max-width: 600px) {
  .aboutLifewrapper .section{
    height: 400px;
    padding: 25px;
  }
  .slick-prev,
  .slick-next {
    display: none !important;
  }

 
}
