.visible {
  position: fixed;
  width: 4vw;
  height: auto;
  bottom: 220px;
  right: 20px;
  display: flex;
  flex-direction: column;
  border-radius: 17px;
  & button {
    font-size: 35px;
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 17px;
    background-color: transparent;
    color: rgb(0, 0, 0, 0.3);
    &:hover {
      color: rgb(106, 49, 137);
    }
  }
}
