.visible {
  position: fixed;
  width: auto;
  height: auto;
  bottom: 220px;
  right: 20px;
  & button {
    font-size: 35px;
    border: none;
    background-color: transparent;
    color: rgb(152, 134, 132, 0.5);
    &:hover {
      color: rgb(25, 69, 96);
    }
  }
}
.unvisible {
  display: none;
}
@media (max-width: 600px) {
  .visible {
    bottom: 30px;
    right: 40px;
    & button {
      font-size: 25px;
    }
  }
}
