.visible {
  position: fixed;
  width: auto;
  height: auto;
  bottom: 220px;
  right: 20px;
  & button {
    font-size: 35px;
    border: none;
    background-color: transparent;
    color: rgb(0, 0, 0, 0.3);
    &:hover {
      color: rgb(106, 49, 137);
    }
  }
}
.unvisible {
  display: none;
}
@media (max-width: 600px) {
  .visible {
    bottom: 30px;
    right: 40px;
    & button {
      font-size: 25px;
      &:hover {
        color: rgb(106, 49, 137);
      }
    }
  }
}
