.contactInfoWrapper{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
  
    & .typeInfo{
        color: #969696;
        width: 80px;
    }
    & .info{}
}