.container {
  width: 40%;
  padding: 0 50px;

  & .wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
    & .photoWrapper {
      position: relative;
      z-index: 1;
     margin-bottom: 30px;
      & img {
        width: 200px;
      }
      &::before {
        content: "";
        width: 250px;
        height: 230px;
        position: absolute;
        top: 0px;
        left: -25px;
        background: 	
        linear-gradient(rgba(135, 60, 255, 0.4), rgba(135, 60, 255, 0.0) 80%),
        linear-gradient(-45deg, rgba(120, 155, 255, 0.9) 25%, rgba(255, 160, 65, 0.9) 75%);
    
        transform: translate(0, -20px);
        z-index: -1;
      }
    }
  }
}
@media (max-width: 1000px) {
  .container {
    width: 100%;
  & .wrapper {
   flex-direction: row;

   align-items: center;
   justify-content: center;
   gap: 35px;
   & .photoWrapper {
    width: 40%;
   }
  }
}}